<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.InterfaceDao">

	<select id="getTeach" resultType="com.example.demo.entity.TeachVO">

		SELECT
		  `id` ,
		  `course`,
		  `coursetime` ,
		  `classroom` ,
		  `teacher` ,
		  `type`
		  FROM
		  `interface_teach`

	</select>

	<select id="getAdmin" resultType="com.example.demo.entity.AdminVO">

		SELECT
		  `id` ,
		  `name`,
		  `student_count` AS studentCount,
		  `teacher_count` AS teacherCount,
		  `teacher` ,
		  `type`
		  FROM
		  `interface_admin`
	</select>

	<select id="getAch" resultType="com.example.demo.entity.AchievementVO" parameterType="integer">

		SELECT
		  `id` ,
		  `type`,
		  `coursename` ,
		  `credit` ,
		  `teacher` ,
		  `point` ,
		  `course_count` AS courseCount,
		  `pass`
		  FROM
		  `interface_achievement`
		  WHERE `type` = #{type}

	</select>
</mapper>